body {
	/*padding: 0;
	margin: 0;  bcof css-reset*/ 
	font-family: 'Raleway', sans-serif;
	color: rgba(0, 0, 0, 0.8);
	font-size: 16px;
    background-color: #DDD3C7;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

p {
    font-size: 20px;
    font-weight: 500;
}

ul, li {
	display: block;
}

.container {
	width: 1360px;
	margin: 0 auto;
    max-width: calc(100% - 32px) 
}

.header {
    background: #FFFFFF;

    padding-top: 20px;
    padding-bottom: 20px;
}

.nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;

    margin-left: auto;
}

.menu li {
    margin-right: 40px;
}

#profile {
    display: none;
}

#profile.show-profile {
    display: block;
}

.main {
	padding-top: 40px;
    padding-bottom: 40px;
}

.main h1 {
	font-size: 25px;
}

.find {
    margin-bottom: 40px;
}

.search {
    background: #C6C5C1;

    border-radius: 20px;

    padding-top: 50px;
    padding-bottom: 50px;
}

.search h1 {
    color: #FFFFFF;
}

.boxes {
    display: flex;
    justify-content: center;
}

.place {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-right: 120px;
}

.sort {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset {
    color: #FFFFFF;
    text-decoration: underline;

    margin-top: 95px;

    display: flex;
    justify-content: center;
}

.reset:active {
    color: #96A467;
}

.inp {
    margin-top: 15px;

    stroke-width: 3px;
    stroke: #C6C5C1;

    border-radius: 10px;

    width: 413px;
    height: 60px;

    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.inp:active {
    stroke: #96A467;
}

.finded {
    padding-top: 20px;
    text-align: right;

    margin-bottom: 20px;
}

.preview-map {
    display: flex;
}

.previews li {
    width: 580px;
    height: 190px;

    display: flex;
    align-items: center;

    background: #FFFFFF;

    border-radius: 10px;

    margin-bottom: 10px;
}

.photo {
    width: 165px; 
    height: 155px; 

    border-radius: 50%;
    overflow: hidden; 
    
    margin-left: 55px;
    margin-right: 85px;
}

.photo img {
    width: 100%; /* Ширина изображения равна ширине контейнера */
    height: 100%; /* Высота изображения равна высоте контейнера */

    object-fit: cover; /* Изображение заполняет всю доступную площадь */
}

.grade {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.grade img, p {
    margin-right: 15px;
}

.fulldesc {
    color: #816A58;
}

.map {
    height: 650px;

    max-width: 685px;
    width: 50%;

    margin-left: auto;

    background:#816A58;

    border-radius: 10px;
}

.temprorary {
    width: 613px; 
    height: 650px; 
}

.footer {
    background: rgba(198, 197, 193, 0.5);

    text-align: center;

    padding: 20px;
    margin-bottom: auto;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.contacts {
    text-align: right;
}

.footer p {
    margin: 5px 0;
}