.checkbox {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.checkbox-label {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border: 2px solid var(--brown);
    border-radius: 4px;
    background-color: var(--beige);
    cursor: pointer;
    position: relative;
    font-size: 16;
}

input[type="checkbox"]:checked + .checkbox-label {
    background-color: var(--brown);
    border-color: var(--brown);
}

input[type="checkbox"]:checked + .checkbox-label::after {
    content: "";
    position: absolute;
    left: 4px;
    width: 6px;
    height: 10px;
    border: solid var(--beige);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
