:root {
    --beige: #DDD3C7;
    --white: white;
    --black: rgba(0, 0, 0, 0.800);
    --shadow-color: rgba(0, 0, 0, 0.300);
    --grey: #C6C5C1;
    --green: #96A467;
    --brown: #816A58;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--beige);
    font-family: "Roboto", sans-serif;
}

.register-container {
    background: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-color);
    width: 400px;
    max-width: calc(100% - 128px);
    overflow: hidden;
}

.register-header {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.h1 {
    color: var(--black);
    margin-top: auto;
}

.register-logo {
    margin: 28px auto 0 auto;
}

.register-form {
    align-items: center;
}

.input-group {
    height: 40px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.ign {
    margin-top: 20px;
}

.igp,
.igsn,
.igpс {
    margin-top: 15px;
}

.input-register {
    border-radius: 8px;
    border: 2px solid var(--grey);
    box-sizing: border-box;
    color: var(--grey);
    font-size: 20px;
    height: 100%;
    padding: 4px 10px 0;
    width: 100%;
    transition: border-color 200ms;
}

.cut {
    border-radius: 8px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 82px;
}

.placeholder {
    color: var(--grey);
    left: 10px;
    line-height: 24px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 5px;
}

.input-register:focus ~ .cut,
.input-register:not(:placeholder-shown) ~ .cut {
    transform: translateY(14px);
}
  
.input-register:focus ~ .placeholder,
.input-register:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-10px) translateX(0px) scale(0.75);
}
  
.input-register:not(:placeholder-shown) ~ .placeholder {
    color: var(--grey);
}
  
.input-register:focus ~ .placeholder {
    color: var(--black);
}

.input-register:focus {
    border: 3px solid var(--green);
    outline: none;
    caret-color: var(--green);
}

.checkboxes-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px 0;
    flex-wrap: wrap;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
}
  
.register-submit {
    background-color: var(--green);
    color: var(--white);
    font-size: 16;
}
  
.google-auth {
    background-color: var(--white);
    border: 2px solid var(--brown);
    color: var(--brown);
    margin-top: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    font-size: 14px;
    outline: none;
}

.register-submit:hover
,.google-auth:hover {
    box-shadow: 0 2px 6px var(--shadow-color);
}
  
.google-auth img {
    margin-right: 10px;
}

.register-button,
.google-auth-button {
    display: flex;
    justify-content: center;
}

