:root {
    --beige: #DDD3C7;
    --white: white;
    --black: rgba(0, 0, 0, 0.800);
    --shadow-color: rgba(0, 0, 0, 0.300);
    --grey: #C6C5C1;
    --green: #96A467;
    --brown: #816A58;
}

body {
    
    min-height: 100vh;
    background-color: var(--beige);
    font-family: "Roboto", sans-serif;
}

.register-container {
    background: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-color);
    width: 400px;
    max-width: calc(100% - 128px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: min-content;
}

.register-header {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.register-logo {
    margin: 10px auto 0 auto;
}

.register-form {
    align-items: center;
    width: 100%;
}

.checkboxes-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px 0;
    flex-wrap: wrap;
}

.register-button,
.google-auth-button {
    display: flex;
    justify-content: center;
}

.google-auth-button {
    margin-top: 15px;
}
