:root {
    --beige: #DDD3C7;
    --white: white;
    --black: rgba(0, 0, 0, 0.800);
    --shadow-color: rgba(0, 0, 0, 0.300);
    --grey: #C6C5C1;
    --green: #96A467;
    --brown: #816A58;
    --red: #C23131;
}

body {
    
    min-height: 100vh;
    background-color: var(--beige);
    font-family: "Roboto", sans-serif;
}

.register-logo {
    margin: 10px auto 0 auto;
}
